.tp{
margin: 5%;
  font-family: arial;
  background:#ffffff;
  border-radius: 15px;
  padding: 10%;
}
a{
  text-decoration: none;
}
h1{
  font-size: 20px;
}
body{
  background: #486dda;
}
