.pa1{
  width: 50px;
  height: 50px;
  position: relative;
  background: #d99694;
  border:  2px solid #385d8a;
  top: 1px;
  left: 1px;
}
.pa2{
  width: 50px;
  height: 50px;
  position: relative;
  background: #c4bd97;
  border:  2px solid #385d8a;
  top: 4px;
  left: 1px;
}
.pa3{
  width: 50px;
  height: 50px;
  position: relative;
  background: #558ed5;
  border:  2px solid #385d8a;
  top: 7px;
  left: 1px;
}
.pa4{
  width: 50px;
  height: 50px;
  position: relative;
  background: #d99694;
  border:  2px solid #385d8a;
  left: 120px;
  top: -165px;
}
.pa5{
  width: 50px;
  height: 50px;
  position: relative;
  background: #c4bd97;
  left: 173px;
  top: -165px;
  border:  2px solid #385d8a;
}
.pa6{
  width: 50px;
  height: 50px;
  position: relative;
  background: #558ed5;
  left: 225px;
  top: -165px;
  border:  2px solid #385d8a;
}
.pa7{
  width: 200px;
  height: 70px;
  position: relative;
  background: #d99694;
  top: -325px;
  left: 350px;

  border:  3px solid #385d8a;
}
.pa8{
  width: 90px;
  height: 70px;
  position: relative;
  background: #c4bd97;
  top: -322px;
  left: 350px;
  border:  3px solid #385d8a;
}
.pa9{
  width: 90px;
  height: 70px;
  position: relative;
  background: #558ed5;
  top: -398px;
  left: 460px;

  border:  3px solid #385d8a;
}
.pa10{
  width: 90px;
  height: 70px;
  position: relative;
  background: #d99694;
  left: 700px;
  top: -555px;
  border:  3px solid #385d8a;
}
.pa11{
  width: 90px;
  height: 70px;
  position: relative;
  background: #558ed5;
  top: -631px;
  left: 800px;

  border:  3px solid #385d8a;
}
.pa12{
  width: 90px;
  height: 70px;
  position: relative;
  background: #c4bd97;
  left: 700px;
  top: -628px;

  border:  3px solid #385d8a;
}
