.imager{
  width: 25%;height: 20%;
  border-radius: 100%;
}
h1{
  background: #7868e6;
  color: #dbf6e9;

}
#arpa{
  background: #7868e6;
}
#apand{
  font-family: Ink Free;
  font-size: 200%;

}
#twex{
  font-family: Courier New;
  font-size: 150%;
}
#face{
  font-family: cursive;
}
#insta{
  color:#e45826;
  font-family: cursive;
}
#ema{
  font-family: cursive;
  color:#aa2b1d;

}
#tele{
  font-family: cursive;
  color:#29bb89;
}
#tab{
  width: 150%;
}
